extends layout

block content
  app-mymovielist
  //- h2= title

  //- style.
  //-       body {
  //-         background:white;
  //-         background-size: cover;
  //-       }
        
  //- body
  //- p.listOfMoviespara List of Movies 
  //- each listOfMovies in movies
    
  //-   //p.listmoviepara #{ listOfMovies.mName } - #{ listOfMovies.mCategory } - #{listOfMovies.mRatings} - #{listOfMovies.releasedYear} - #{listOfMovies.estimatedEarnings} |&nbsp;&nbsp;
    
  //-   a#sampleAnchor(href=`/movies/${listOfMovies._id}`)= "Movie Name: " + listOfMovies.mName  + " Movie Category: " + listOfMovies.mCategory
  //- br
  //- a(href='/create-movie') 
  //-   button.btn Create Movies
  
  //- footer#footer
  //-   p Copyright (c) Movie Studio All Rights Reserved